@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #f7f7f7; /* Ubah warna latar belakang ke #F7F7F7 */
}

.scroll-smooth {
  scroll-behavior: smooth;
}
